<%= form_for :subscriber, url: subscribers_path do |f| %>
    <div>
    <%= f.label :first_name%>
    <%= f.text_field :first_name %>
    </div>

    <div>
    <%= f.label :last_name%>
    <%= f.text_field :last_name %>
    </div>
    
    <div>
    <%= f.label :email%>
    <%= f.email_field :email %>
    </div>

    <div>
    <%= f.label :message%>
    <%= f.text_field :message %>
    </div>

    <%= f.submit "Submit"%>
    
    <% end %>