        <p> Name:  <%= @caterer.name %> </p> 
        <p> Website: <%= @caterer.website %> </p>
        <p> Email: <%= @caterer.email %> </p>
        <p> Mailing Address: <%= @caterer.mailing_address %> </p>
        <p> Phone: <%= @caterer.phone_number %> </p>
        <p> Description: <%= @caterer.description %> </p>
<p> Back to all <u> <%= link_to "all caterers", admin_caterers_path, :class => 'item' %> </u> </p>