<%= javascript_pack_tag 'update-form' %>

<h1> Events Pending Approval </h1>




<table style="width:100%" >

<thead>
<tr style = 'height:40px'>
    <th> Checkbox </th>
    <th style="width:15%"> Event name </th>
    <th style="width:15%"> Start Date and Time </th>
    <th style="width:15%"> End Date and Time </th>
    <th style="width:15%"> Required update explanation</th>
    <th style="width:15%"> Actions </th>
</tr>
</thead>



<tbody>
<% @events.each do |event| %>
    <tr style = 'height: auto'>
        <td>
            <%= check_box(event, :checkbox, checked_value: true, unchecked_value: false) %>
        </td>
        <td> 
            <u> 
                <%= link_to "#{event.name}", event_path(id: event.id),  :class => 'item' %> 
            </u> 
        </td>

        <td>
            <%= "#{event.start_date} #{event.start_time.strftime("%I:%M %p")}" %>
        </td>

        <td>
            <%= "#{event.end_date} #{event.end_time.strftime("%I:%M %p")}" %>
        </td>

        <td>
            <%= event.update_required_explanation %>
        </td>

        <td>
        <%= form_for event, url: event_admin_reviews_path(event.id), method: :post, :data => {confirm: 'Are you sure that you would like to approve this event?'} do |f| %>
            <%= f.submit "Approve event" %> 
        <% end %>

        <%= form_for event, url: event_admin_reviews_destroy_path(event.id), method: :delete, :data => {confirm: 'Are you sure you would like to delete this event? '} do |f| %>
            <%= f.submit "Delete event" %> 
        <% end %>

        <% if event.does_require_update == false %> 
            <button class = 'button' id = <%= event.id %> >Require update</button>

            
            <div class = 'update-div div<%= event.id%>'>
            <%= form_for event, url: event_admin_reviews_patch_path(event.id), method: :put,  :html => { :class => "Form Form#{event.id}" } do |f| %>
                <h3><%= f.label :update_required_explanation %></h3>
                <br><br>
                <%= f.text_area :update_required_explanation, size: "35x8", placeholder: 'Please explain what excactly you would like updated...' %>
                <%= f.submit "Require event update" %>
                <% end %> 
            </div>

            <% end %>

        </td>
    </tr>
<% end %>
</tbody>



</table>
