<%= javascript_pack_tag 'update-form' %>

<h1> Events Pending Approval </h1>




<table style="width:100%" >

<thead>
<tr style = 'height:40px'>
    <th style="width:15%"> Event name </th>
    <th style="width:15%"> Start Time </th>
    <th style="width:15%"> End Time </th>
    <th style="width:15%"> Actions </th>
</tr>
</thead>

<tbody>
<% @events.each do |event| %>
    <tr style = 'height: auto'>
        <td> 
            <u> 
                <%= link_to "#{event.name}", admin_events_show_path(id: event.id),  :class => 'item' %> 
            </u> 
        </td>
        <td>
            <%= "#{event.start_date} #{event.start_time.strftime("%I:%M %p")}" %>
        </td>

        <td>
            <%= "#{event.end_date} #{event.end_time.strftime("%I:%M %p")}" %>
        </td>
      
       
        <td>
            <%= form_for event, url: event_admin_reviews_path(event), method: :post, :data => {confirm: 'Are you sure that you would like to approve this event?'} do |f| %>
                <%= f.submit "Approve event" %> 
            <% end %> 
        </td> 

        <td>
        <%= form_for event, url: event_admin_reviews_destroy_path(event), method: :delete, :data => {confirm: 'Are you sure you would like to delete this event? '} do |f| %>
            <%= f.submit "Delete event" %> 
        <% end %> 
        </td>

        <td>    
            <% if event.does_require_update  %> 
            <button type="button"  disabled  >Require update</button>
            <% elsif event.does_require_update == false %> 
                
                <button onclick="adminAction()">Require update</button>
             

                <div class = 'update-form'>
                    <%= form_for event, url: event_admin_reviews_patch_path(event), method: :put, :data => {confirm: 'Are you sure you would like to require this update?'}, :html => { :class => 'update_form' } do |f| %>
                    <h3><%= f.label :update_required_explanation %></h3>
                    <br>
                    <%= f.text_area :update_required_explanation, size: "35x8" %>
                    <%= f.submit "Require event update", :class => 'submit-button' %> 
                    <% end %> 
                </div>
            <% end %> 
        </td>

        <td>
                <% if event.does_require_update %>
                    <%= event.update_required_explanation %> 
                <% end %>
        </td>

        
    

       
    </tr>
<% end %>
</table>