<%= javascript_pack_tag 'update-form' %>
<div class = 'div' >
<div><h1> Events Pending Approval </h1></div>



<% @events.each do |event| %>
    <div class = 'body'>
    <ul>
        <li> <%= event.name %> </li>
        <li> <%= event.address %> </li>
        <div><li> <%= event.description %> </li></div>
        <li> <%= event.start_date %> </li>
        <li> <%= event.end_date %> </li>
        <li> <%= event.start_time %> </li>
        <li> <%= event.end_time %> </li>
        <li> <%= event.host_organization_id %> </li>
        <li> <%= event.end_time %> </li>
        <div>
            <li>
                    <% if event.does_require_update %>
                <h4> Update required explanation:  <%= event.update_required_explanation %> </h4>
                    <% end %>
            </li>
        </div>
    

        <li>
            <%= form_for event, url: event_admin_reviews_path(event), method: :post, :data => {confirm: 'Are you sure that you would like to approve this event?'} do |f| %>
                <%= f.submit "Approve event" %> 
            <% end %> 
        </li>

    
            <% if event.does_require_update  %> 
            <button type="button"  disabled >Require update</button>
            

            <% elsif event.does_require_update == false %> 
                
                <button type="button" id = 'update-button'>Require update</button>

                <div class = 'update-form'>
                    <%= form_for event, url: event_admin_reviews_patch_path(event), method: :put, :data => {confirm: 'Are you sure you would like to require an update?'} do |f| %>

                    <%= f.label :update_required_explanation %>
                    <%= f.text_area :update_required_explanation %>
                    <%= f.submit "Require event update", :class => 'submit-button' %> 

                    <% end %> 

                </div>
            <% end %> 
    

        <li>
            <%= form_for event, url: event_admin_reviews_destroy_path(event), method: :delete, :data => {confirm: 'Are you sure you would like to delete this event? '} do |f| %>
                <%= f.submit "Delete event" %> 
            <% end %> 
        </li>

    </ul>
    </div>

<% end %>

</div>