<%= javascript_pack_tag "events" %>

<div class="container">
<% @events.each do |event| %>
  
    <div class="event" id=<%= event.id %> >
        <p class="name"> <%= link_to event.name, event_path(event.id) %> </p>
        <div class="event_info">
            <p> <%= event.start_date %> - <%= event.start_time.strftime("%I:%M %p") %> </p>
            <p> <%= event.end_date %> - <%= event.end_time.strftime("%I:%M %p") %></p>
        </div>
   </div>
<%end%>      
</div>