<%= form_for @event do |f| %>
    <p class="field">
    <%= f.label :name %> <br>
    <%= f.text_field :name, autofocus: true, class: 'form_box' %>
    </p>
    <div class="times">
    <div>
    <%= f.label :start_date %> <br>
    <%= f.date_field :start_date, class: 'form_box' %>
    </div>
    <div>
    <%= f.label :start_time %> <br>
    <%= f.time_field :start_time, class: 'form_box'%>
    </div>
    </div>
    
    <div class="times">
    <div>
    <%= f.label :end_date %> <br>
    <%= f.date_field :end_date, class: 'form_box' %>
    </div>
    <div>
    <%= f.label :end_time %> <br>
    <%= f.time_field :end_time, class: 'form_box' %>
    </div>
    </div>

    <p class="field">
    <%= f.label :address %> <br>
    <%= f.text_field :address, class: 'form_box' %>

    </p>
    
    <p class="field">
    <%= f.label :description %> <br>
    <%= f.text_area :description , class: 'form_box '%>
    </p>
    <p class="field">
    <%= f.label :host_organization %> <br>
    <%= f.collection_select :host_organization_id, HostOrganization.all, :id, :name, {:prompt => "Please select a Host Organization"}, class: 'form_box' %>
    </p>
    <p class="field">
    <%= f.label :caterer %> <br>
    <%= f.collection_select :caterer_id, Caterer.all, :id, :name, {:prompt => "Please select a Caterer"}, class: 'form_box' %>
    </p>
    <div class="actions">
    <%= f.submit "Submit", class: 'submit' %>
    </div>
    <% end %>