<%= form_tag events_path, :method => 'get'  do %>
    <%= text_field_tag :name %>
    <%= text_field_tag :address %>
    <%= date_field_tag :start_date %>
    <%= text_field_tag :host_organization %>
    <%= submit_tag "Search" %>
<% end %>

<% @events.each do |event|%>
    <ul>
    <li><%= event.name %></li>
    </ul>
    <% end %>       