<% flash.each do |type, msg| %>
   <div>
     <%= msg %>
   </div>
 <% end %>

 <% @events.each do |event| %>

   <h1> <%= event.name %> </h1>
   
  <div>
      <%= form_for event, url: event_admin_reviews_path(event), method: :post do |f| %>
            <%= f.submit "Approve event" %> 
      <% end %> 
  </div>

  <div>
    <%= form_for event, url: event_admin_reviews_patch_path(event), method: :put do |f| %>

      <%= f.label :explanation %>
      <%= f.text_area :explanation %>

          <%= f.submit "Require event update" %> 

    <% end %> 
  </div>

  <div>
      <%= form_for event, url: event_admin_reviews_destroy_path(event), method: :delete do |f| %>
            <%= f.submit "Delete event" %> 
      <% end %> 
  </div>

  

<% end %>