<% @events.each do |event| %>
   <p> <%= event.name %> </p>
   <p> <%= event.start_date %> - <%= event.end_date %></p>
   <p> <%= event.start_time %> - <%= event.end_time %></p>
   <p> <%= event.address %></p>
    <%end%>