
<div class="search_container">

<%= form_tag events_path, :method => 'get'  do %>

    <div class="search_form_box">
    <%= label_tag 'Event name'%>
    <%= text_field_tag :name %>
    </div>
    <div class="search_form_box">
    <%= label_tag 'Address' %>
    <%= text_field_tag :address%>
    </div>
    <div class="search_form_box">
    <%= label_tag 'Start date'  %>
    <%= date_field_tag :start_date%>
    </div>

    <div class="search_submit">
    <%= button_tag(type: "submit") do %>
        <%= image_tag 'search.png' %>
    <% end %>
    </div>
<% end %>
</div>

<%= render "events" %>