<!DOCTYPE html>
<html>
  <head>
      <title>TorontoEvents</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://kit.fontawesome.com/a5ac8db979.js" crossorigin="anonymous"></script>
  </head>

 <body>
  <div id = "top">
    <div id="top_background_img">
      <%= image_tag("bg-pattern-intro.svg") %>
    </div>
    <div class = 'torontoEvents'>
      <p> Toronto Events </p>
    </div>
    <ul class = 'leftnav'>
      <li>
          <%= link_to "Events", events_path %>
      </li>
      <li>
          <%= link_to "Create Event", new_event_path %>
      </li>
      <li>
          <%= link_to "Contact us", toronto_events_contact_path %>
      </li>
    </ul>
    <ul class="rightnav">
      <li>
      <%= link_to "Sign up", new_user_registration_path, :class=> "signup" %>
      </li>
      <li>
          <%= link_to "Login", new_user_session_path, :class=> "login" %>
      </li>
    </ul>
    <div id="slogans"> 
      <div id="topHeadline">
        Explore and Construct
      </div>
      <p id="topSubline"> 
        Take part in upcoming events, or generate your own to share
      </p>
    </div>  
    <div id="topEventsButtons">
      <%= link_to "Browse Events", events_path, :id=>'topBrowseEventsButton'%>
      <%= link_to "Create Event", new_event_path, :id=>'topCreateEventButton' %>
    </div>
  </div>


<div class="mainContainer">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

 
  <%= yield %>
</div>


  <div class = 'bottom'>
      <div class = 'bottomIcons'>
        <%= image_tag("Copyright.png", :class => 'icon')%> TorontoEvents2021
      
      </div>

      <div class= 'subscribe'>
        <p class="subscribe_text"> Get email updates on the latest upcoming events! </p>
        <%= form_for :subscriber, url: subscribers_path do |f| %>
          <%= f.email_field :Email, placeholder: "email@example.com", :class => 'emailforsubscribe' %>
          <%= f.submit "Subscribe", :class => 'subscribeButton' %>
        <% end %>
      </div>

      <div class = 'bottomNav'>
        <ul>
          <li>
            <%= link_to "Home", root_path, :class => 'bottomNavBarItem' %>
          </li>
          <li>
            <%= link_to "About us", toronto_events_about_us_path, :class => 'bottomNavBarItem' %>
          </li>
          <li>
            <%= link_to "Contact us", toronto_events_contact_path, :class => 'bottomNavBarItem' %>
          </li>
        </ul>
      </div>
      
        
  </div>
  </body>
</html>
