<!DOCTYPE html>
<html>
  <head>
      <title>TorontoEvents</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://kit.fontawesome.com/a5ac8db979.js" crossorigin="anonymous"></script>
  </head>

 <body>
  <div class="app_header">
    <div class="app_nav">
      <div class="app_logo">
        <h2> <%= link_to "Toronto Events", root_path%> </h2>      
      </div>
      <div class="app_nav_menu">

           <% if current_user && current_user.admin %>

      <ul>
        <li>
            <%= link_to "Pending Events", admin_events_path, :class => 'item' %>
        </li>
        <li>
            <%= link_to "Host Organization's", admin_hosts_path, :class => 'item' %>
        </li>
        <li>
            <%= link_to "Caterers", admin_caterers_path, :class => 'item' %>
        </li>
      </ul>

         <% else %>
         <ul>
         <li>
             <%= link_to "Events", events_path %>
         </li>
         <li>
             <%= link_to "Create Event", new_event_path %>
         </li>
         <li>
             <%= link_to "Contact us", toronto_events_contact_path %>
         </li>
       </ul>

       <% end %>
      </div>

      <% if current_user %>
      <div class="dropdown">
      <button class="dropbtn"><p class="logged_in_user_greeting"> Hi <%= current_user.username%> <%= image_tag("user_icon_150670.png", :class => 'user_icon') %> <i class="fa fa-caret-down"></i> </p> 
        
      </button>
      <div class="dropdown-content">
       
        <%= link_to "Bookmarked Events", bookmarked_events_path%>
        <%= link_to "Attending Events", attending_events_path %>
        <%= link_to "Log out", destroy_user_session_path , method: :delete%>
      
      </div>
    </div> 
        
      <% else %>
        <div class="app_login_options">
          <ul>
            <li>
            <%= link_to "Sign up", new_user_registration_path, :class=> "signup" %>
            </li>
            <li>
                <%= link_to "Login", new_user_session_path, :class=> "login" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="app_header_main">
      <div>
        <p class="topHeadline">
          Explore and Construct
        </p>
        <p class="topSubline"> 
          Take part in upcoming events, or generate your own to share
        </p>
      </div> 
    </div>

    <div class="app_header_bottom">
      <div id="topEventsButtons">
        <%= link_to "Browse Events", events_path, :class=>'topBrowseEventsButton'%>
        <%= link_to "Create Event", new_event_path, :class=>'topCreateEventButton' %>
      </div>
    </div>
  </div>


<div class="mainContainer">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>


  <div class = 'bottom'>
      <div class = 'copyrightLogo'>
       <p> <%= image_tag("Copyright.png", :class => 'icon')%> <span>TorontoEvents2021</span></p>  
      </div>

      <div class= 'subscribe'>
        <p class="subscribe_text"> Get email updates on the latest upcoming events! </p>
        <%= form_for :subscriber, url: subscribers_path do |f| %>
          <%= f.email_field :Email, placeholder: "email@example.com", :class => 'emailforsubscribe' %>
          <%= f.submit "Subscribe", :class => 'subscribeButton' %>
        <% end %>
      </div>

      <div class = 'bottomNav'>
        <ul>
          <li>
            <%= link_to "Home", root_path, :class => 'bottomNavBarItem' %>
          </li>
          <li>
            <%= link_to "About us", toronto_events_about_us_path, :class => 'bottomNavBarItem' %>
          </li>
          <li>
            <%= link_to "Contact us", toronto_events_contact_path, :class => 'bottomNavBarItem' %>
          </li>
        </ul>
      </div>
      
        
  </div>
  </body>
</html>
